.user-show-container {
  min-height: 62vh;
}

.user-name-cont {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .user-name-cont {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 768px;
  }
}

@media (min-width: 1002px) {
  .user-name-cont {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 1002px;
  }
}

@media (min-width: 1280px) {
  .user-name-cont {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1280px;
  }
}

.user-name-wrap {
  margin-top: 50px;
  margin-bottom: 20px;
}

.account-name {
  margin-bottom: 20px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 1px;
  margin-top: 0;
}

.tab-links {
  display: flex;
  border-bottom: 1px solid #DDDDDD;
}

.i-tab {
  position: relative;
  padding: 0 5px;
  margin: 7px 0;
  margin-right: 20px;
}

.i-tab-nonselected {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  color: black;
}

.i-tab-selected {
  color: #eb1478;
}

.i-tab-selected:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -7px;
  height: 3px;
  background-color: #eb1478;
}

.profile-container {
  margin-top: 30px;
  margin-bottom: 50px;
}

.profile-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

 .prof-img {
  width: 60%;
}

.prof-img > img {
  display: block;
  max-width: 100%;
}

@media (min-width: 768px) {
  .profile-content, .prof-img {
    height: 285px;
  }
}

.about-me {
  margin-bottom: 20px;
}

.about-me > span {
  margin-left: 10px;
  vertical-align: middle;
  font-family: "Helvetica";
  font-size: 24px;
  line-height: 35px;
  color: #6A6A6A;
}

.user-pic {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.user-brief {
  width: 34%;
}

.stats {
  width: 40%;
}

.stats > div {
  font-size: 17px;
  line-height: 26px;
  font-weight: 300;
  color: #6a6a6a;
  display: flex;
  justify-content: space-evenly;
}

.stats > div > span {
  font-size: 24px;
  font-weight: 800;
  color: #2A2A2A;
  margin-right: 2px;
}

.prof-campaigns-section {
  margin-bottom: 50px;
}

.prof-campaigns-section > h3 {
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0;
  font-weight: 500;
  margin-bottom: 10px;
}

// @media (min-width: 768px) {
//   .camps-on, .img-profile {}
// }
.camps-on {
  border-top: 1px solid #dddddd;
  padding: 20px 0;
  display: flex;
}

.primary-img > img {
  width: 200px;
  height: 200px;
}

.campaigns-content {
  margin-left: 20px;
  margin-top: 3px;
}

.campaign-title > a {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  color: #2A2A2A;
}

.campaign-title > a:hover, .campaign-author > a:hover {
  text-decoration: underline;
}

.campaign-author {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #6A6A6A;
}

.campaign-tagline {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #6A6A6A;
}
