.allcamps-scope {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1280px) {
  .allcamps-scope {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1280px;
  }
}



.camp-list {
  display: flex;
  flex-wrap: wrap;
}

.all-header {
  font-family: "Libre Franklin", sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.allcamps-text {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.allcamps-text > span {
  padding-right: 20px;
}

.allcamps-span {
  color: #A8A8A8;
  font-weight: 300;
}


.camp-list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  align-items: center;
}

.tile-img {
  display: block;
  height: 273px;
  width: 100%;
  background-size: cover;
}

.camp-tile {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  position: relative;
  float: left;
  // width: 21.5%;
  min-width: 230px;
  max-width: 280px;
  flex-grow: 1;
}

// @media (min-width: 1280px) {
//   .camp-tile {
//     position: relative;
//     float: left;
//     min-height: 1px;
//     padding-left: 20px;
//     padding-right: 20px;
//   }
// }

.tile-link {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #2A2A2A;
}

.tile-link:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);

  .tile-title-tagline div:first-of-type {
      text-decoration: underline;
    }

    .progress-bar {
      background-color: #EB1478;
    }

}

.tile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  height: 220px;
  max-height: 220px;
}

.tile-title-tagline > div {
  font-family: "Libre Franklin", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  max-height: 40px;
}

.tile-title-tagline div:last-of-type {
  font-weight: 400;
}

.tile-bottom {
  display: block;
}

.tile-bottom > span {
  margin-top: 30px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.tile-bottom span:last-of-type {
  font-weight: 400;
}

.progress-label {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.progress-label > div {
  font-family: "Libre Franklin", sans-serif;
  color: #A8A8A8;
  font-size: 11px;
  font-weight: 300;
}
