.all-header {
  font-family: "Libre Franklin", sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.allcamps-text {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 20px;
}

.allcamps-text > span {
  padding-right: 20px;
}

.allcamps-span {
  color: #A8A8A8;
  font-weight: 300;
}

.camp-list {
  display: flex;
  flex-wrap: wrap;
}

.camp-tile {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .camp-tile {
    position: relative;
    width: 33.33333333%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1002px) {
  .camp-tile {
    position: relative;
    width: 25%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.tile-link {
  display: block;
  color: #2a2a2a;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
  cursor: pointer;
}

.tile-link:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);

  .tile-title-tagline div:first-of-type {
      text-decoration: underline;
    }

    .progress-bar {
      background-color: #EB1478;
    }

}

.image-wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
}

.card-image {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.image-wrapper::after {
  padding-top: 100%;
  display: block;
  content: '';
}

.tile-info {
  margin: 10px;
  height: 220px;
  max-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tile-title-tagline > div {
  font-family: "Libre Franklin", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  max-height: 40px;
}

.tile-title-tagline div:last-of-type {
  font-weight: 400;
  max-height: 60px;
}

.tile-bottom {
  display: block;
}

.tile-bottom > span {
  margin-top: 30px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.tile-bottom span:last-of-type {
  font-weight: 400;
}

.progress-label {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.progress-label > div {
  font-family: "Libre Franklin", sans-serif;
  color: #A8A8A8;
  font-size: 11px;
  font-weight: 300;
}
