.indienomo-header {
  border-bottom: 1px solid #DDDDDD;
}

.nav-bar {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 1440px;
  white-space: nowrap;
  display: box;
  display: flex;
  box-align: center;
  align-items: center;
  box-pack: justify;
  justify-content: space-between;
}

.nav-bar .left {
  display: flex;
  align-items: center;
}

.nav-bar .right {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-right-btn {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  padding: 10px 13px 9px;
  // min-height: 35px;
  cursor: pointer;
  background-color: #EB1478;
  border: 2px solid #EB1478;
  border-radius: 2px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.nav-right-btn:hover {
  background-color: #FA1681;
}

.login-signup {
  display: flex;
  align-items: center;
}

.nav-btn {
  font-family: "Libre Franklin";
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  line-height: 20px;
  margin-left: 30px;
  padding: 27px 7px;
  cursor: pointer;
  border: none;
  background: none;
  color: #2A2A2A;
}

.nav-btn:hover {
  color: #FA1681;
}

button:focus {
  outline: 0;
  // -moz-outline-style: none;
}

.logo {
  font-size: 16px;
  color: #EB1478;
}

.search-form {
  position: relative;
  margin-left: 30px;
  display: inline-flex;
  vertical-align: middle;
}

.nav-search-input {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: block;
  width: 100%;
  padding: 5px 15px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.nav-search-bar {
  padding-left: 30px;
  width: 10em;
  height: 35px;
  transition: all .3s ease-out;
}

.nav-search-bar:focus {
  width: 20em;
}

.nav-search-input:focus {
  border: 1px solid #2a2a2a;
}

@media (min-width: 1002px) {
  .search-icon {
    fill: #a8a8a8;
    position: absolute;
    top: 9px;
    left: 7px;
  }
}

.search-icon {
  width: 18px;
  height: 18px;
}
