*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.search-page {
  margin-bottom: 50px;
  min-height: 65vh;
}

@media (min-width: 768px) {
  .cont {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 768px;
  }

  .search-page-section {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (min-width: 1002px) {
  .cont {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 1002px;
  }

  .search-page-section {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (min-width: 1280px) {
  .cont {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1280px;
  }

  .search-page-section {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.search-page-section {
  margin-left: -15px;
  margin-right: -15px;
}

.search-page-section::before {
  content: " ";
  display: table;
}

.search-bar-container {
  margin-top: 50px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.search-heading {
  font-size: 24px;
  padding-bottom: 20px;
}

p {
  margin: 0 0 10px;
}

.search-query {
  position: relative;
  color: #0eb4b6;
  padding-bottom: 5px;
  border-bottom: 3px #0eb4b6 solid;
}

.search-bar-form {
  position: relative;
  margin-right: 15px;
  margin-bottom: 10px;
  max-height: 140px;
  overflow: hidden;
  transition: max-height .15s ease-in;
  border-color: #dddddd;
}

.search-bar-field {
  padding: 10px 0px 10px 46px;
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
  border-radius: 2px;
  margin: 0;
  margin-bottom: 14px;
}

.search-bar-field:focus {
  border-color: #dddddd;
}

.search-bar-form > svg {
  color: #2a2a2a;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
}
