.carousel {
  height: 250px;
  overflow: hidden;
  position: relative;
  background: black;
}

.carousel-tile {
  width: 100%;
  height: 250px;
  display: inline-block;
  position: relative;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.side-tile {
  display: none;
}

.carousel-tile-text {
  z-index: 2;
  color: #ffffff;
  position: absolute;
  left: 15px;
  bottom: 20px;
  padding-right: 200px;
}

.carousel-tile-text > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.carousel-tile-text > p {
  font-weight: 200;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.carousel-btn {
  position: absolute;
  right: 20px;
  bottom: 15px;
}

@media (min-width: 670px) {
  .carousel {
    height: 350px;
  }

  .carousel-tiles {
    width: 3350px;
    margin-left: -1675px;
    position: absolute;
    left: 50%;
  }

  .carousel-tile {
    width: 670px;
    height: 350px;
  -webkit-transition: background-size 0.2s ease-in-out;
  }

  .carousel-tile:not(:nth-child(3)) {
    background-size: 101.5%;
  }

  .carousel-tile:not(:nth-child(3)):hover {
    cursor: pointer;
    background-size: 100%;
  }

  .carousel-tile-text {
    padding-right: 240px;
    left: 40px;
    bottom: 30px;
  }

  .carousel-tile-text > h3 {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 25px;
  }

  .carousel-btn {
    z-index: 2;
    right: 40px;
    bottom: 30px;

    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
    margin: 0 auto;
    min-height: 0px;
  }

  .carousel-btn:hover, .carousel-btn:active {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #2a2a2a;
  }
}

.carousel-tiles {
  margin-left: -1675px;
  overflow: hidden;
  display: flex;
}

.carousel-tile:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.details-visible {
  animation-name: fade-in;
  animation-duration: 0.3s;
}

@keyframes fade-in {
  0% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.details-invisible {
  animation-name: fade-out;
  animation-duration: 0.3s;
}

@keyframes fade-out {
  0% { opacity: 1.0; }
  100% { opacity: 0.0; }
}

.slides-right {
  animation-name: slide-right;
  animation-duration: 0.3s;
}

@keyframes slide-right {
  from {}
  to { transform: translateX(670px); }
}

.slides-left {
  animation-name: slide-left;
  animation-duration: 0.3s;
}

@keyframes slide-left {
  from {}
  to { transform: translateX(-670px); }
}
