.carousel {
  height: 250px;
  overflow: hidden;
  position: relative;
  background: black;
}

.carousel-tile {
  width: 100%;
  height: 250px;
  display: inline-block;
  position: relative;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.side-tile {
  display: none;
}

@media (min-width: 670px) {
  .carousel {
    height: 350px;
  }

  .carousel-tiles {
    width: 3350px;
    margin-left: -1650px;
    position: absolute;
    left: 50%;
  }

  .carousel-tile {
    width: 670px;
    height: 350px;
  -webkit-transition: background-size 0.2s ease-in-out;
  }

  .carousel-tile:not(:nth-child(3)) {
    background-size: 101.5%;
  }

  .carousel-tile:not(:nth-child(3)):hover {
    cursor: pointer;
    background-size: 100%;
  }

}

.carousel-tiles {
  margin-left: -1650px;
  overflow: hidden;
  display: flex;
}

.details-visible {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  0% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.details-invisible {
  animation-name: fade-out;
  animation-duration: 0.5s;
}

@keyframes fade-out {
  0%{ opacity: 1.0; }
  100%{ opacity: 0.0; }
}

.slides-right {
  animation-name: slide-right;
  animation-duration: 0.5s;
}

@keyframes slide-right {
  from {}
  to { transform: translateX(670px); }
}

.slides-left {
  animation-name: slide-left;
  animation-duration: 0.5s;
}

@keyframes slide-left {
  from {}
  to { transform: translateX(-670px); }
}
